<!doctype html>

<html>

<head>
	<meta charset="utf-8">
	<title>Strange Deck</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/strangedeck/css/flatly.min.css" rel="stylesheet" media="screen">
	<link href="/static/strangedeck/css/magic.min.css" rel="stylesheet" media="screen">
	<link href="/static/ninetynine/css/styles.css" rel="stylesheet" media="screen">
	<link href="/static/ninetynine/css/deck.css" rel="stylesheet" media="screen">

	<style>
		.magictime.slideDownRetourn {
			-webkit-animation-duration: 0.25s;
			-moz-animation-duration: 0.25s;
			-o-animation-duration: 0.25s;
			animation-duration: 0.25s;
		}
	</style>
</head>

<body>
	<div id="game-over-modal" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<img id="winner-img" class="media-object img-circle modal-image">
					<p id="winner-name">Nina Craig Wins!</p>
					<button class="btn btn-primary" type="button" data-dismiss="modal">Continue</button>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" 
						type="button" 
						data-toggle="collapse" 
						data-target="#navbar-content">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">STRANGE DECK</a>
			</div>
			<div id="navbar-content" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">

				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<!-- Computer -->
		<div class="col-md-3">
			<div id="player1-panel" class="panel panel-default player-panel">
				<div class="panel-body">
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading"></h4>
							Wins: 0
						</div>
						<div class="media-right">
							<a href="#">
								<img class="media-object img-circle panel-image">
							</a>
						</div>
					</div>
					<div class="hand"></div>
				</div>
			</div>
		</div>

		<!-- Piles -->
		<div class="col-md-6">
			<div id="piles">
				<div id="draw-pile" class="card card-back card-blue"></div>
				<div id="score-display">
					<div>
						<p>Score</p>
						<p id="score-text">0</p>
					</div>
				</div>
				<div id="play-pile" class="card">
					<div id="bottom-card" class="card"></div>
					<div id="top-card" class="card"></div>
				</div>
			</div>
		</div>

		<!-- Player -->
		<div class="col-md-3">
			<div id="player2-panel" class="panel panel-default player-panel">
				<div class="panel-body">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object img-circle panel-image">
							</a>
						</div>
						<div class="media-body" style="text-align: right;">
							<h4 class="media-heading"></h4>
							Wins: 0
						</div>
					</div>
					<div class="hand"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="/static/ninetynine/js/deck.js"></script>
	<script src="/static/ninetynine/js/game.js"></script>
	<script>
		$(function() {
			var game = createGame();

			function getRandomPlayer(isComputer) {
				var players = [{
					name: "Austin Spencer",
					url: "/static/strangedeck/img/austin_spencer.jpg"
				}, {
					name: "Krin Alvarez",
					url: "/static/strangedeck/img/krin_alvarez.jpg"
				}, {
					name: "Nina Craig",
					url: "/static/strangedeck/img/nina_craig.jpg"
				}, {
					name: "Randy Adams",
					url: "/static/strangedeck/img/randy_adams.jpg"
				}, {
					name: "Tina Thomas",
					url: "/static/strangedeck/img/tina_thomas.jpg"
				}, {
					name: "Vincent Ellis",
					url: "/static/strangedeck/img/vincent_ellis.jpg"
				}];

				var player = players[Math.floor(Math.random() * players.length)];

				return new Player(player.name, player.url, isComputer);
			}

			function getAnonymousPlayer() {
				var players = [{
					name: "Anonymous",
					url: "/static/strangedeck/img/anonymous_male.jpg"
				}, {
					name: "Anonymous",
					url: "/static/strangedeck/img/anonymous_female.jpg"
				}];

				var player = players[Math.floor(Math.random() * players.length)];

				return new Player(player.name, player.url, false);
			}

			function findElementsByData(selector, data) {
				return $(selector).filter(function() {
					var $this = $(this), hasData = true;

					$.each(data, function(key, value) {
						hasData = (hasData && $this.data(key) == value);
					});

					return hasData;
				});
			}

			function initializePlayer(selector, player) {
				var $panel = $(selector);
				$panel.find(".media-heading").text(player.name());
				$panel.find(".panel-image").attr("src", player.photo());
				$panel.data({
					playerName: player.name(),
					isComputer: player.isComputer()
				});

				return player;
			}

			function createGame() {
				console.log("Create game...");

				var game = new Game();
				game.addPlayer(initializePlayer("#player1-panel", getRandomPlayer(true)));
				game.addPlayer(initializePlayer("#player2-panel", getAnonymousPlayer()));

				return game;
			}

			function restartGame() {
				console.log("Start game...");

				game.reset(Game.getStandardRules());

				updateScore();
				updatePlayPile();

				for (var i = 0, numPlayers = game.numPlayers(); i < numPlayers; i++) {
					var player = game.getPlayer(i);

					updatePlayerHand(player);
				}

				updateTurn(game.getDealer());
			}

			function endGame(winner) {
				console.log("End game " + winner.name() + "...");

				$("#winner-img").attr("src", winner.photo());
				$("#winner-name").text(winner.name() + " wins!");
				$("#game-over-modal").modal("show");
			}

			function updatePlayerHand(player) {
				console.log("Player hand updated: " + player.name() + "...");

				var $hand = findElementsByData(".player-panel", {
					playerName: player.name()
				}).find(".hand").empty();

				for (var i = 0, numCards = player.handSize(); i < numCards; i++) {
					var card = player.getCardInHand(i);
					var cardClass = "card card-front card-" + card.toString();

					if (player.isComputer()) {
						cardClass = "card card-back card-blue";
					}

					$("<div></div>").addClass(cardClass).data({
						index: i,
						face: card.face(),
						suit: card.suit()
					}).appendTo($hand);
				}
			}

			function updateTurn(player) {
				console.log("Turn updated: " + player.name() + "...");

				//Reset all panels...
				$(".player-panel").removeClass("panel-primary").data("isCurrent", false);

				//Set current player panel...
				var panel = findElementsByData(".player-panel", {
					playerName: player.name()
				}).addClass("panel-primary").data("isCurrent", true);

				console.log(panel);

				var currentPlayer = game.getCurrentPlayer();

				if (game.hasLegalPlay(currentPlayer)) {
					if (currentPlayer.isComputer()) {
						var card = game.getBestPlay(currentPlayer);

						setTimeout(function() {
							findElementsByData(".card", {
								face: card.face(), 
								suit: card.suit()
							}).trigger("click");
						}, 500);
					}
				}
				else {
					console.log("Current player (" + currentPlayer.name() + ") does not have a legal move...");

					endGame(game.getNextPlayer());
				}
			}

			function updateScore() {
				console.log("Score updated: " + game.score() + "...");

				$("#score-text").text(game.score());
			}

			function updatePlayPile(cardString) {
				console.log("Play pile updated: " + cardString + "...");

				var $topCard = $("#top-card");
				var $bottomCard = $("#bottom-card");

				if (!cardString) {
					$topCard.attr("class", "card");
					$bottomCard.attr("class", "card");
				}
				else {
					var cardClass = "card-" + cardString;

					if ($topCard.data("cardClass")) {
						$bottomCard.attr("class", "card card-front").addClass($topCard.data("cardClass"));
					}

					$topCard
						.attr("class", "card card-front magictime slideDownRetourn")
						.addClass(cardClass).data("cardClass", cardClass)
						.one("animationend webkitAnimationEnd", function() {
							$(this).removeClass("magictime slideDownRetourn");
						});
				}
			}
			
			restartGame();

			$("body").on("click", ".card", function() {
				var $card = $(this);

				if ($card.parents(".player-panel").eq(0).data("isCurrent")) {
					var currentPlayer = game.getCurrentPlayer();
					var index = $card.data("index");

					if (!game.isLegalPlay(currentPlayer.getCardInHand(index))) {
						return;
					}

					var face = $card.data("face");
					var suit = $card.data("suit");
					
					updatePlayPile(face + suit);

					console.log("Current player (" + currentPlayer.name() + ") plays " + face + suit);

					var isGameOver = game.playCard(currentPlayer, index);

					if (isGameOver) {
						endGame(currentPlayer);

						return;
					}

					updateScore(game);
					updatePlayerHand(currentPlayer);
					updateTurn(game.getCurrentPlayer());
				}
			});

			$("#game-over-modal").on("hide.bs.modal", function() {
				restartGame();
			});
		});
	</script>
</body>

</html>