{% extends 'strangedeck/base.html' %}

{% block page-styles %}
    <style>
        body {
            padding-top: 100px;
        }
    </style>
{% endblock page-styles %}

{% block page-content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="jumbotron">
                    <h4>Sign up!</h4>
                    <a href="#" class="btn btn-danger btn-block">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="btn btn-primary btn-block">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="btn btn-info btn-block">
                        <i class="fa fa-twitter"></i>
                    </a>
                    {% include 'strangedeck/partials/bootstrap_messages.html' %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button class="close" type="button" data-dismiss="alert">&times;</button>
                            {{ error|safe }}
                        </div>
                    {% endfor %}
                    <form action="{% url 'sign_up' %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="form-group has-error has-feedback">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <span class="help-block">
                                        {{ field.errors|join:', ' }}
                                    </span>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}